/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Arizonia&display=swap");

:root {
  /* Base Theme */
  --background: #0a0a0a;
  --foreground: #ededed;

  /* Color Scheme */
  --color-primary: #d75615;
  --color-secondary: #64748b;
  --color-accent: #eb763b;

  /* Typography */
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-mono: "Courier New", Courier, monospace;
  --font-h1: "Arizonia", cursive;

  /* Font Sizes */
  --h1-size: 2rem;
  --h2-size: 1.5rem;
  --h3-size: 1.3rem;
  --h4-size: 1.2rem;
  --p-size: 1rem;

  /* Button Styling */
  --btn-padding: 0.75rem 1.5rem;
  --btn-radius: 0.5rem;
  --btn-font-size: 0.5rem;
  --btn-font-weight: 400;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

/* Global Body */
body {
  background-color: var(--background);
  font-family: var(--font-sans);
  height: 100%;
  width: 100%;
}

/* Typography */
h1 {
  font-family: var(--font-h1);
  font-size: var(--h1-size);
  font-weight: 400;
  font-style: normal;
  color: var(--foreground);
}

h2 {
  font-size: var(--h2-size);
  font-weight: bold;
  color: var(--foreground);
}

h3 {
  font-size: var(--h3-size);
  font-weight: 600;
  color: var(--foreground);
}

h4 {
  font-size: var(--h4-size);
  font-weight: 500;
  color: var(--foreground);
}

p {
  font-size: var(--p-size);
  font-weight: 400;
  line-height: 1.6;
  color: var(--foreground);
}

button {
  background-color: var(--color-backgground);
  color: var(--foreground);
  padding: var(--btn-padding);
  border-radius: var(--btn-radius);
  border: solid 1px var(--color-primary);
  cursor: pointer;
  transition: background-colsor 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: var(--color-primary);
  transform: scale(1.05);
}
