/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Base Theme */
  --background: #0a0a0a;
  --foreground: #eeeeee;

  /* Color Scheme */
  --color-primary: #d75615;
  --color-secondary: #64748b;
  --color-accent: #eb763b;

  /* Typography */
  --font-sans: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-mono: "Courier New", Courier, monospace;
  /* --font-h1: "inter"; */

  /* Font Sizes */
  --h1-size: 2rem;
  --h2-size: 1.5rem;
  --h3-size: 1.3rem;
  --h4-size: 1.2rem;
  --p-size: 1rem;

  /* Button Styling */
  /* --btn-padding: 0.75rem 1.5rem;
  --btn-radius: 0.5rem;
  --btn-font-size: 0.5rem;
  --btn-font-weight: 400; */

  --heroui-background: transparent !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eeeeee;
    --foreground: #0a0a0a;
  }
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

/* Global Body */
body {
  background-color: var(--background);
  font-family: var(--font-sans);
  height: 100%;
  width: 100%;
}

/* Typography */
h1 {
  font-family: var(--font-sans);
  font-size: var(--h1-size);
  font-weight: 400;
  font-style: normal;
  color: var(--foreground);
}

h2 {
  font-size: var(--h2-size);
  font-weight: bold;
  color: var(--foreground);
}

h3 {
  font-size: var(--h3-size);
  font-weight: 600;
  color: var(--foreground);
}

h4 {
  font-size: var(--h4-size);
  font-weight: 500;
  color: var(--foreground);
}

p {
  font-size: var(--p-size);
  font-weight: 400;
  line-height: 1.6;
  color: var(--foreground);
}
